* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, Helvetica, sans-serif;
}

body {
  background-color: #1a1a1a;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header img {
  width: 20rem;
  padding: 2rem 2rem 0;
  display: block;
  margin: 0 auto;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 4rem;
  overflow: hidden;
}

.criptografia,
.descriptografia {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}

textarea {
  padding: 1rem;
  resize: none;
  background-color: #222;
  border: none;
  border-radius: 1rem;
  color: #fff;
  font-size: xx-large;
  text-align: center;
  width: 100%;
  flex: 1;
}

textarea::placeholder {
  opacity: 0.8;
  color: #fff;
}

.div-buttons {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.div-copy {
  text-align: center;
}

.button {
  color: #fff;
  background-color: #73038f;
  border: none;
  border-radius: 0.4rem;
  padding: 0.4rem 4rem;
  cursor: pointer;
  font-size: x-large;
  font-weight: bold;
  transition: opacity 0.4s;
}

.button:hover {
  opacity: 0.8;
}
.button:active {
  background-color: #b507e0;
}

footer {
  color: #fff;
  font-size: x-large;
  font-weight: bold;
  padding: 1rem 0 2rem;
  text-align: center;
}

@media (min-width: 1024px) {
  header img {
    width: 12rem;
    margin: 0;
  }

  main {
    flex-direction: row;
  }

  textarea {
    font-size: x-large;
  }

  .div-buttons {
    justify-content: flex-start;
    gap: 1rem;
  }
}
